<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-card>
        <div class="img">
          <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
          <ion-icon routerLink="/" name="chevron-forward-outline"></ion-icon>
        </div>

        <ion-card-header>
          <ion-card-subtitle>Nitendo</ion-card-subtitle>
          <ion-card-title>waluigi</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-text color="medium">
            <h3>
              Waluigi é um personagem fictício da série de jogos da Nintendo, especialmente da franquia Super Mario. Ele
              é conhecido por ser o antagonista e rival de Luigi, irmão de Mario. Aqui está uma visão geral da história
              de Waluigi:

              Origem:
              Waluigi foi introduzido pela primeira vez no jogo "Mario Tennis" para o console Nintendo 64, lançado em
              2000. Ele foi criado como um parceiro e rival de Wario, outro antagonista da série, para se opor à dupla
              de heróis, Mario e Luigi.

              Personalidade:
              Waluigi é conhecido por sua personalidade arrogante, trapaceira e invejosa. Ele está sempre buscando se
              destacar e ganhar reconhecimento, muitas vezes por meios desonestos. Sua personalidade exagerada e
              excêntrica o torna um personagem cômico.

              Rivalidade com Luigi:
              Waluigi é particularmente conhecido por ser o arqui-inimigo de Luigi. Enquanto Mario e Wario têm suas
              próprias rivalidades, Luigi e Waluigi são frequentemente colocados em confronto direto. Essa rivalidade é
              explorada em vários jogos esportivos da série Mario, como Mario Kart, Mario Party e Mario Tennis.

              Ausência em jogos principais:
              Ao contrário de personagens como Mario, Luigi, Peach e Bowser, Waluigi não recebeu um papel principal em
              jogos da série principal Super Mario. Ele é mais comumente encontrado em jogos esportivos ou spin-offs,
              onde desempenha o papel de antagonista ou personagem jogável.

              Popularidade:
              Embora Waluigi não tenha sido protagonista em jogos principais da franquia, ele desenvolveu uma base de
              fãs considerável ao longo dos anos. Sua personalidade única e visual distintivo o tornaram um personagem
              querido por muitos jogadores.

              Embora a história de Waluigi seja relativamente limitada em comparação com outros personagens da série
              Super Mario, ele continua sendo uma figura icônica e popular entre os fãs, deixando espaço para possíveis
              desenvolvimentos e aparições futuras nos jogos da Nintendo.
            </h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>