<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-card>
        <div class="img">
          <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
          <ion-icon routerLink="/princesa" name="chevron-forward-outline"></ion-icon>
        </div>

        <ion-card-header>
          <ion-card-subtitle>Nitendo</ion-card-subtitle>
          <ion-card-title>Luigi</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-text color="medium">
            <h3>
              Luigi, o irmão de Mario, também desempenha um papel importante na franquia de jogos Super Mario. Aqui está
              um resumo da história de Luigi:

              Origens:
              Luigi fez sua primeira aparição como personagem jogável em "Mario Bros.", lançado em 1983. Inicialmente,
              ele era uma versão jogável de Mario para o modo multiplayer, onde os jogadores podiam controlar ambos os
              irmãos.

              Super Mario Bros. 2:
              Luigi ganhou destaque como personagem distinto em "Super Mario Bros. 2", lançado em 1988. Neste jogo,
              Luigi tinha habilidades únicas, como um salto mais alto do que Mario, mas era um pouco mais difícil de
              controlar. Essas características estabeleceram a personalidade e o estilo de jogo único de Luigi.

              Desenvolvimento de personalidade:
              Ao longo dos anos, Luigi foi retratado como um personagem mais tímido, medroso e desajeitado em comparação
              com seu irmão Mario. Essa personalidade foi ampliada em jogos como "Luigi's Mansion", onde Luigi se
              aventura em uma mansão assombrada para resgatar Mario.

              Luigi's Mansion:
              "Luigi's Mansion", lançado em 2001 para o console Nintendo GameCube, foi o primeiro jogo protagonizado por
              Luigi. Nele, Luigi explora uma mansão assombrada com uma aspiradora para capturar fantasmas e resgatar
              Mario, que foi capturado. O jogo foi bem recebido pela crítica e estabeleceu Luigi como um personagem
              principal.

              Jogos e aparições posteriores:
              Luigi continuou a aparecer em vários jogos da franquia Super Mario, incluindo "Super Mario Galaxy", "New
              Super Mario Bros.", "Mario Kart", entre outros. Ele também recebeu outros jogos solo, como "Luigi's
              Mansion: Dark Moon" e "Luigi's Mansion 3".

              Personalidade e desenvolvimento posterior:
              Ao longo dos anos, a personalidade de Luigi evoluiu e foi retratada de diferentes maneiras. Embora ele
              ainda seja considerado o irmão mais medroso e inseguro, também foram mostrados momentos em que ele
              demonstra coragem e determinação, especialmente quando se trata de salvar Mario ou ajudar seus amigos.

              Luigi como personagem amado:
              Luigi conquistou um grande número de fãs e se tornou um personagem amado pela sua personalidade única e
              carismática. Ele é frequentemente retratado como um parceiro leal e engraçado, e sua presença nos jogos
              adiciona diversidade e dinamismo à franquia Super Mario.

              Essa é uma visão geral da história de Luigi dentro da franquia Super Mario. Ele continua a ser um
              personagem icônico e continua a encantar jogadores de todas as idades.
            </h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>