<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-card>
        <div class="img">
          <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
          <ion-icon routerLink="/waluigi" name="chevron-forward-outline"></ion-icon>
        </div>

        <ion-card-header>
          <ion-card-subtitle>Nitendo</ion-card-subtitle>
          <ion-card-title>wario</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-text color="medium">
            <h3>
              Peço desculpas, mas não estou familiarizado com o personagem "Waio". Pode ser um erro de digitação ou um
              personagem menos conhecido. Se você estiver se referindo a um personagem específico, por favor, forneça
              mais informações ou corrija o nome para que eu possa ajudá-lo com a história desse personagem.
            </h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>