<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-card>
        <div class="img">
          <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
          <ion-icon routerLink="/yoshi" name="chevron-forward-outline"></ion-icon>
        </div>

        <ion-card-header>
          <ion-card-subtitle>Nitendo</ion-card-subtitle>
          <ion-card-title>Boweser</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-text color="medium">
            <h3>
              o Rei dos Koopas, dentro do universo de Super Mario, é repleta de acontecimentos e reviravoltas ao longo dos
              anos. Aqui está um resumo da história de Bowser:
    
              Origens:
              Bowser nasceu como filho do Rei Koopa, também conhecido como Bowser Koopa, e cresceu no Reino dos Koopas.
              Desde jovem, ele mostrou uma personalidade dominadora e uma ambição de conquistar outros reinos.
    
              Conquista do Reino dos Cogumelos:
              Bowser estabeleceu seu objetivo de tomar o Reino dos Cogumelos e sequestrar a Princesa Peach para se tornar o
              governante supremo. Ele comanda um exército de Koopas, Goombas e outros lacaios, criando desafios e obstáculos
              para Mario e seus amigos em sua jornada.
    
              Sequestro da Princesa Peach:
              Bowser sequestra repetidamente a Princesa Peach, com a intenção de casar-se com ela e reivindicar o Reino dos
              Cogumelos. Esse ato é um dos principais enredos que impulsiona a série de jogos Super Mario, e Mario sempre se
              lança em uma missão para resgatar a princesa das garras de Bowser.
    
              Alianças e rivalidades:
              Apesar de ser o principal antagonista, Bowser já teve momentos de alianças com Mario e seus amigos para
              enfrentar ameaças maiores. Em jogos como Super Mario RPG: Legend of the Seven Stars e na série Mario & Luigi,
              Bowser se une temporariamente ao grupo de heróis para combater inimigos em comum.
    
              Transformações e poderes:
              Bowser é conhecido por suas transformações e poderes especiais. Em vários jogos, ele assume formas gigantes,
              como Giga Bowser, ou se apropria de poderes específicos, como a habilidade de cuspir fogo. Essas
              transformações adicionam um desafio extra para os jogadores enfrentarem durante as batalhas contra ele.
    
              Desenvolvimento da personalidade:
              Ao longo dos anos, a personalidade de Bowser evoluiu para além do mero vilão. Ele desenvolveu características
              mais cômicas e exibiu momentos de vulnerabilidade e até mesmo um certo grau de redenção. Esses aspectos
              tornaram o personagem mais complexo e interessante.
    
              Essa é uma visão geral da história de Bowser dentro da série Super Mario. Como um personagem icônico, ele
              continuará a desempenhar um papel significativo nos jogos da franquia, cativando jogadores com sua presença
              ameaçadora e seus planos maquiavélicos.
            </h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>