<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-card>
        <div class="img">
          <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
          <ion-icon routerLink="/wario" name="chevron-forward-outline"></ion-icon>
        </div>

        <ion-card-header>
          <ion-card-subtitle>Nitendo</ion-card-subtitle>
          <ion-card-title>Yoshi</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-text color="medium">
            <h3>
              Yoshi é um personagem popular da franquia Super Mario e também protagonizou seus próprios jogos. Aqui está
              um resumo da história do Yoshi:

              Origens:
              Yoshi fez sua primeira aparição no jogo "Super Mario World" lançado em 1990 para o console Super Nintendo.
              Ele é uma espécie de dinossauro antropomórfico conhecido como "Yoshi" ou "Yoshis" e é nativo da Ilha dos
              Yoshis.

              Relação com Mario:
              Yoshi é um fiel aliado de Mario e frequentemente o auxilia em suas aventuras. No jogo "Super Mario World",
              Mario monta em Yoshi e utiliza suas habilidades especiais, como comer inimigos e cuspir cascas de Koopa,
              para superar obstáculos e alcançar novas áreas.

              Jogos próprios:
              Devido à popularidade do personagem, Yoshi também protagonizou seus próprios jogos, como "Yoshi's Island",
              "Yoshi's Story", "Yoshi's Woolly World" e "Yoshi's Crafted World". Esses jogos exploram o mundo dos Yoshis
              e suas aventuras em busca de resgatar amigos e proteger o seu lar.

              Habilidades especiais:
              Yoshi tem várias habilidades únicas. Ele pode engolir inimigos com sua longa língua e transformá-los em
              ovos que podem ser atirados para derrotar outros inimigos ou ativar mecanismos. Além disso, Yoshi pode
              planar no ar por curtos períodos de tempo após saltar.

              Variedade de cores:
              Existem diferentes variações de cores de Yoshis, cada uma com suas características distintas. Por exemplo,
              o Yoshi verde é o mais comum, o Yoshi vermelho pode cuspir fogo, o Yoshi azul pode voar e o Yoshi amarelo
              pode gerar faíscas elétricas.

              Presença em outros jogos:
              Além dos jogos da série Super Mario, Yoshi também aparece em outros títulos da Nintendo, como "Mario
              Kart", "Mario Party" e "Super Smash Bros.". Nessas séries, Yoshi é um personagem jogável, com suas
              habilidades especiais sendo exploradas em diferentes contextos.

              Yoshi é conhecido por seu carisma, fofura e por ser um personagem amigável. Sua popularidade levou a sua
              presença constante nos jogos da Nintendo e ele continua sendo um favorito entre os fãs de Super Mario e da
              franquia Yoshi.
            </h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>