<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-card>
        <div class="img">
          <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
          <ion-icon routerLink="/toad" name="chevron-forward-outline"></ion-icon>
        </div>

        <ion-card-header>
          <ion-card-subtitle>Nitendo</ion-card-subtitle>
          <ion-card-title>Princesa</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-text color="medium">
            <h3>
              A Princesa Peach, também conhecida como Princesa Toadstool, é uma personagem icônica da franquia Super
              Mario. Aqui está um resumo da história da Princesa Peach:

              Origens:
              A Princesa Peach fez sua primeira aparição no jogo "Super Mario Bros." lançado em 1985 para o console NES
              (Nintendo Entertainment System). Ela foi apresentada como a governante do Reino dos Cogumelos e uma figura
              importante na história do jogo.

              Sequestros por Bowser:
              Um dos principais enredos da série é o sequestro da Princesa Peach pelo vilão Bowser, o Rei dos Koopas.
              Bowser deseja casar-se com Peach e conquistar o Reino dos Cogumelos. Ao longo dos jogos, Mario, o herói
              principal, embarca em missões para resgatar Peach das garras de Bowser e trazê-la em segurança de volta ao
              castelo.

              Personalidade e características:
              A Princesa Peach é retratada como uma personagem gentil, graciosa e otimista. Ela é conhecida por sua
              beleza, vestidos elegantes e cabelos loiros. Peach é uma líder benevolente e mostra compaixão tanto por
              seus súditos quanto por seus amigos.

              Habilidades especiais:
              Embora a Princesa Peach seja frequentemente retratada como uma personagem que precisa ser salva, em alguns
              jogos ela demonstra habilidades únicas. Por exemplo, ela pode flutuar no ar por um curto período de tempo
              usando seu vestido como uma espécie de paraquedas. Essa habilidade é frequentemente utilizada para superar
              obstáculos e alcançar áreas inacessíveis.

              Participação em outros jogos:
              Além dos jogos principais da série Super Mario, a Princesa Peach aparece em vários outros títulos da
              Nintendo, como "Mario Kart", "Mario Party" e "Super Smash Bros.". Nessas séries, ela é uma personagem
              jogável, mostrando suas habilidades e competindo ou lutando ao lado de outros personagens.

              Relacionamentos:
              A Princesa Peach é frequentemente retratada como uma amiga próxima de Mario e Luigi. Ela valoriza sua
              amizade e está disposta a ajudá-los em suas aventuras. Além disso, ela também tem uma relação de
              rivalidade amigável com a Princesa Daisy, outra personagem da série.

              A Princesa Peach continua sendo uma personagem querida e reconhecível no mundo dos videogames. Sua
              presença nos jogos da franquia Super Mario e sua importância na narrativa têm cativado jogadores ao longo
              dos anos.
            </h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>