
<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">

    <!-- COLUNA DA ESQUERDA -->
    <ion-col size="6">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/63613/dirt-bike-motorcycle-jump-autumn-63613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
      </ion-card>
    </ion-col>

    <!-- COLUNA DA DIREITA -->
    <ion-col size="5">
      <ion-card>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <ion-item>
              <h1>Criar Conta</h1>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- INPUTS DO FORMULÁRIO -->
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <ion-item>
              <ion-input label="Nome" type="text" placeholder="Nome"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <ion-item>
              <ion-input label="Email" type="email" placeholder="email@domain.com"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <ion-item>
              <ion-input label="Senha" type="password" value="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            <ion-item>
              <ion-input label="Confirme Senha" type="password" value="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- BOTÕES -->
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button>Criar Conta</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button fill="login com">Login com</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button>fecebook</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button color="tertiary">twitter</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button color="danger">google</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>


</ion-content>