ion-content{
  --background: rgb(255,12,0);
  --background: linear-gradient(90deg, rgba(255,12,0,1) 30%, rgba(255,149,0,1) 63%);
}


.divisor {
  height: 50vh;
  overflow: hidden;
  align-items: center;
}
img{
  border-radius: 16px;
}
