<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img class="img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM8IOdmbcMETX-d2G1Zafeq0MR7XwhLVPq8A&usqp=CAU" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img class="img" src="https://i.pinimg.com/originals/4e/48/8d/4e488de08887b6d5fcf4d3bd7fd00e4f.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="img">
            <img
              src="https://2.bp.blogspot.com/-QQnspH8Yq08/WIapMBNr5eI/AAAAAAAAbt8/VjQ_weRGNt4qFFVfF2hkekp9ahF9gvuJQCEw/s1600/15492372_1000543356717645_3532322478008374586_n.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img class="img" src="https://wallpaperaccess.com/full/1553958.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img class="img" src="https://wallpaperaccess.com/full/1553967.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="img">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMbZlV8F1B2jm7nyeWGvaUtTzaANAQuWF0xjuFa5CvU8y6HgdGRkf2kKSJ1I69owGPlEQ&usqp=CAU" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img class="img" src="https://i.pinimg.com/originals/80/fd/f1/80fdf1dc3845f221c86e689e001b0b32.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img class="img" src="https://i.pinimg.com/736x/fc/bb/b4/fcbbb43bb582af00b19bdbf97f69bad4.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="img">
            <img
              src="https://conteudo.imguol.com.br/c/entretenimento/ba/2020/11/12/fusca-estilizado-1605201387940_v2_4x3.jpg" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img class="img" src="" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img class="img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM8IOdmbcMETX-d2G1Zafeq0MR7XwhLVPq8A&usqp=CAU" />
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="img">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM8IOdmbcMETX-d2G1Zafeq0MR7XwhLVPq8A&usqp=CAU" />
          </ion-card>
        </ion-col>



        <ion-col size="12">
          <ion-card>
            <h2>
              O Fusca foi feito a principio à pedido de Adolf Hitler a Ferdinand Porsche, o velho “beetle” foi
              nomeado Volkswagen, que como todos sabem, provem do idioma alemão e seu significado é “Carro do Povo“.

              Depois foi nomeado “Volkswagen Sedan“, e partindo de um apelido nascido no Brasil, acabou sendo
              nomeado oficialmente aqui no Brasil como “FUSCA“.

              O primeiro projeto do Fusca, era equipado com um motor dois cilindros, refrigerado a ar, que tinha um
              rendimento absurdamente péssimo.

              Criaram o motor quatro cilindros, opostos dois a dois , chamado de Boxter,também refrigerado a ar, com
              suspensão independente dianteira, que funcionavam através de barras de torção.

              Foi um projeto ousadamente revolucionário, pois até então os carros da época eram feitos com motores
              refrigerados a água e suspensão que em sua maioria usavam feixe de molas (tipo suspensão de caminhões)
              ou molas helicoidais.

              Lançado oficialmente em 1935, pelo então projetista Ferdinand Porsche, o Volkswagen podia ser comprado
              por quase todos, ao preço de 990 marcos, e era equipado com motor refrigerado a ar, sistema elétrico
              de seis volts, câmbio seco de quatro marchas, que até então só se fabricavam carros com caixa de
              câmbio inferiores a 3 marchas.

              Daí, as evoluções foram constantes.
              Sistema de freios a tambor, caixa de direção tipo “rosca sem fim”, evoluções estéticas como quebra
              vento, lado abertura da porta (no início a porta abria do lado oposto), saída única de escapamento,
              estribo, entre outras.

              Em 1936, já reformulado, com bastante semelhanças com o Fusca de hoje, o Volkswagen era equipado com
              duas pequenas janelas traseiras, em 1937 existiam 30 outros modelos sendo testados na Alemanha. E a
              partir de 1938, iniciou-se a construção, em Hanover de uma fábrica a qual o Volkswagen seria
              construído na forma de fabricação em série.
              Em 1939, devido ao início da segunda guerra mundial, o Volkswagen acabou virando veículo militar.
              Derivados do fusca, como jipes e até um modelo anfíbio (Shwinwagen, atualmente existem 3 no mundo, e
              um no Brasil). A mecânica também haveria mudado. Virabrequim, pistões, válvulas , o motor de 995 cc.e
              19cv passou a ser de 1.131 cc. e 26 cv. Mais de 70 mil unidades militares foram produzidas.

              Término da segunda guerra mundial, a fábrica que estava sendo construída em Hanover, estava quase que
              inteiramente destruída.

              Seus projetistas, ninguém sabia por onde andavam, e de suas versões militares ninguém mais precisara,
              por pouco não foi o fim do Volkswagen.
              Até um major inglês redescobrir o Volkswagen. Ivan Hirst, resolveu “adotar” o velho Volkswagen, entre
              os escombros da antiga fábrica, a versão original do VW passou a ser reaproveitada.
              Retomada sua fabricação, o Volkswagen passou a ser utilizado em serviços de primeira necessidade,
              escassos naquela época, como correio, atendimento médico, etc.

              Em 1946, portanto um ano depois, já existia 10 mil volkswagens sedans em circulação.

              Em 1948 existiam 25 mil, sendo 4.400 para exportação. Em 1949 o Fusca já teria seu próprio mercado nos
              EUA.
            </h2>
          </ion-card>
        </ion-col>


      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>