<ion-content [fullscreen]="true">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <img src="https://www.otempo.com.br/image/contentid/policy:1.2844890:1680737523/image-Por-que-Super-Mario-Bros-O-Filme-esta-sendo-detonado-pelos-criticos.jpg" />
    </ion-col> 
  </ion-row>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bem-vindo ao Nitendo
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>A Nintendo é uma empresa japonesa de videogames fundada em 1889 por Fusajiro Yamauchi. Inicialmente, ela
        produzia cartões de baralho tradicionais japoneses, chamados hanafuda, e começou a atuar com os videogames em
        1977, quando lançou o console Color TV Game.</p>
      <ion-button routerLink="/super" expand="full">Personagem Nitendo</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>