ion-content {
  --ion-background-color: #f1f1f1;
}

ion-header {
  --background: #333;
  --color: #fff;
}

ion-card {
  margin: 20px;
  text-align: center;
}

ion-card-title {
  margin: 0;
}

ion-button {
  --background: #333;
  --color: #fff;
  --border-radius: 5px;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}