ion-content [fullscreen]="true">
<ion-row class="ion-justify-content-center">
  <ion-col size="12">
    <ion-card>
      <div class="img">
        <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
        <ion-icon routerLink="/bowser" name="chevron-forward-outline"></ion-icon>
      </div>

      <ion-card-header>
        <ion-card-subtitle>Nitendo</ion-card-subtitle>
        <ion-card-title>toad</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <ion-text color="medium">
          <h3>
            Toad é um personagem recorrente na franquia Super Mario da Nintendo. Ele é conhecido por sua aparência
            distintiva, que se assemelha a um cogumelo antropomórfico, e desempenha vários papéis nos jogos da série.
            Aqui está uma visão geral da história do personagem Toad:

            Origem:
            Toad fez sua primeira aparição no jogo "Super Mario Bros." para o console NES, lançado em 1985.
            Inicialmente, ele era retratado como um cidadão do Reino dos Cogumelos e um seguidor leal da Princesa Peach.

            Papel como ajudante:
            Ao longo dos jogos da série Super Mario, Toad frequentemente desempenha o papel de ajudante. Ele fornece
            informações úteis, dicas e até mesmo itens aos personagens principais, como Mario e Luigi. Sua função é
            frequentemente a de um guia confiável e amigo.

            Personagem jogável:
            Além de seu papel como ajudante, Toad também se tornou um personagem jogável em vários jogos. Ele tem sua
            própria série de jogos chamada "Captain Toad", onde assume o papel principal em aventuras de quebra-cabeças.

            Variações de Toad:
            Ao longo dos anos, foram introduzidas várias variações do personagem Toad. Isso inclui Toadette, uma versão
            feminina de Toad, e outros personagens como Toadsworth, Toad Brigade e Toadette.

            Presença em jogos spin-off:
            Toad é um personagem recorrente em jogos spin-off da série Mario, como Mario Kart, Mario Party e Mario
            Sports. Nessas instâncias, ele geralmente é jogável e pode competir contra outros personagens.

            Toad como espécie:
            Vale ressaltar que, além do personagem específico chamado Toad, "Toad" também se refere a uma espécie de
            criaturas semelhantes a cogumelos que habitam o Reino dos Cogumelos. Vários membros da espécie Toad aparecem
            nos jogos, muitas vezes identificados por cores diferentes, como Toad Azul, Toad Vermelho, Toad Amarelo,
            entre outros.

            Toad é um personagem adorado pelos fãs de Super Mario devido à sua personalidade amigável, aparência
            carismática e participação constante na série. Sua história é intrinsecamente ligada à narrativa dos jogos,
            e ele continuará a desempenhar um papel importante nas futuras aventuras da franquia Super Mario.
          </h3>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

</ion-content>